:root {
  --md-primary-fg-color: #023452;
  --md-primary-fg-color--light: #023452;
  --md-primary-fg-color--dark: #023452;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;

  --md-accent-fg-color: #f47d20;
  --md-accent-fg-color--transparent: #eb83391a;
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light:#ffffffb3;
  --md-typeset-color: #636363;
  --md-typeset-a-color: #047eaa;
}

:root, [data-md-color-scheme=default] {
  --md-footer-fg-color: #fff;
  --md-footer-fg-color--light: #fff;
  --md-footer-fg-color--lighter: #fff;
  --md-footer-bg-color: #4d4848;
  --md-footer-bg-color--dark: #4d4848;
}

.md-container .md-tabs__link {
  text-transform: uppercase;
}

/* These are social card options for authors and contributors sections */
.nt-card {
    text-align: center;
}

.members .nt-card-text {
    font-size: 0.7rem;
}

.members .nt-card .nt-card-image img {
    height: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #bbb;
}

.members .nt-card .nt-card-image {
    min-height: 60px;
}

/* This makes the normal admonition blocks have the same font size as normal text */
.md-typeset .admonition,
.md-typeset details {
  font-size: 18px;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  fill: currentcolor;
  display: block;
  height: 60px;
  width: auto;
}

/* These are options to create a new admonition class for the overview section in About */
.md-typeset .admonition.overview,
.md-typeset details.overview {
  border-color: rgb(77, 77, 77);
}
.md-typeset .overview > .admonition-title,
.md-typeset .overview > summary {
  background-color: rgba(77, 77, 77, 0.1);
}
.md-typeset .overview > .admonition-title::before,
.md-typeset .overview > summary::before {
  background-color: rgb(77, 77, 77);
  -webkit-mask-image: var(--md-admonition-icon--overview);
          mask-image: var(--md-admonition-icon--overview);
}

.md-typeset .overview {
  /* line-height: 1; */
  font-size: 14px;
}

footer {
  margin-top: 2rem;
  box-shadow: 0 -3px 3px #bbb;
}

footer .md-copyright__highlight {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

@media (max-width: 800px) {
  footer .md-copyright__highlight {
    flex-direction: column;
    gap: 1em;
  }
}

footer p.logos {
  background-color: #fff;
  border-radius: 3px;
  opacity: 0.9;
  padding: 0.3em 1em;
  white-space: nowrap;
  width: max-content;
}

footer section {
  flex: 1;
}

footer section:last-child img {
  float: left;
  margin: 5px 10px 0 0;
  opacity: 0.8;
}

footer a, footer a:link, footer a:visited {
  text-decoration: underline;
}

.elixir-main-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: -1em;
}

.elixir-main-text {
  width: 70%;
}

.elixir-main-image {
  width: 30%;
  display: flex;
  justify-content: center;
}

.elixir-main-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .elixir-main-container {
    flex-direction: column;
  }

  .elixir-main-text, .elixir-main-image {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #lecturers {
    float: left;
    margin-right: 1em;
  }
  .elixir-clear {
    clear:both;
    padding: 0.5em 0;
  }
}

@media screen and (min-width: 769px) {
  .tool-tiles {
    display: flex;
    min-height: 100%;
    align-items: stretch;
  }

  .tool-tiles-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* space out evenly */
    margin-bottom: 120px;
  }
  
  .tool-tile-wrapper {
    flex: 1;
    min-width: 300px; /* prevent too small tiles */
  }
}

.tile-grid {
  display: flex;
  height: 100%; 
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}


text-tile {
  flex: 1 1 calc(50- 2rem); /* 2 tiles per row with gap adjustment */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px; /* or any fixed height */
  max-width: fit-content;

}